micronaut:
  application:
    name: micronaut-grpc-client
  server:
    host: ${REST_SERVER_HOST:localhost}
    port: ${REST_SERVER_PORT:8099}
  metrics:
    common-tags:
      application: ${micronaut.application.name}
    enabled: true
    export:
      prometheus:
        enabled: true
        step: PT1M
        descriptions: true
endpoints:
  all:
    enabled: true
  prometheus:
    enabled: true
    sensitive: false
my:
  server:
    host: ${GRPC_SERVER_HOST:localhost}
    port: ${GRPC_SERVER_PORT:50052}
grpc:
  client:
    plaintext: true # according to docs this can be set on the specific channel below but didn't work, always got SSL
  channels:
    sayHi:
      address: "${my.server.host}:${my.server.port}"
      max-retry-attempts: 0